<div>
    <table>
        <tr>
            <td>
                <a href="@Url.Action("ChangeLanguage", "Home", new { lang = "en" })"><img src="~/Images/Flags/ENG.gif" width="18" height="12" /></a>
            </td>
        @*</tr>
        <tr>*@
            <td>
                <a href="@Url.Action("ChangeLanguage", "Home", new { lang = "pt-PT" })"><img src="~/Images/Flags/PT.gif" width="18" height="12" /></a>
            </td>
            <td>
                <a href="@Url.Action("ChangeLanguage", "Home", new { lang = "fr-FR" })"><img src="~/Images/Flags/FR.gif" width="18" height="12" /></a>
            </td>
        </tr>
    </table>

</div>
