@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = EpicWareWeb.Views.User.User.erro;
}

<hgroup class="title">
    <h1 class="error">@EpicWareWeb.Views.User.User.erro</h1>
    <h2 class="error">@EpicWareWeb.Views.User.User.erro_msg</h2>
</hgroup>
