@model EpicWareWeb.Models.Connection
<table width="500">
    <tr>
        <td width="75">
           <img src="@Model.userConnected.userProfile.pathImg" alt="No Image" width="50" height="50"/>
        </td>
        <td width="200"><span style="font-size:14px; color:white;"><b>@EpicWareWeb.Views.User.User.nick:</b> @Model.userConnected.userProfile.nickname</span></td>
        <td width="100">
            @using (Ajax.BeginForm("RequestIntroAjax", new { id1 = Model.Owner.userID, id2 = Model.userConnected.userID }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "partials" }))
            {
                <button type="submit" class="btn btn-info">@EpicWareWeb.Views.User.User.pedir_intro</button>
            }
        </td>
    </tr>
</table>
