
<p></p><p></p>
@*<p style="color:white; text-decoration:solid;">
    Pedido de introdução enviado
</p>*@

<div class="alert alert-warning"><span style="font-size:12px"><b>@EpicWareWeb.Views.User.User.introEnviada</b></span></div>