@{
    EpicWareWeb.Models.IntroFriendRequest introFR= (EpicWareWeb.Models.IntroFriendRequest)ViewBag.intro;
}
<div>
@using (Html.BeginForm("SendMiddleIntroAjax","User", new { id = introFR.introFriendRequestID }))
{
    @Html.TextArea("txtIntro")
    <button type="submit" class="btn btn-info">@EpicWareWeb.Views.User.User.send</button>
}
</div>
