@*@model EpicWareWeb.Models.Comment
<div class="alert alert-normal">
    <div style="width:25px;">
        <img src="~/Images/Profiles/ric.jpg" width="25" height="25" />  <b>Joaquim Almeida</b>
        <br /><br />
        XPTOWFrgrbjyrhtghfytreghfrtegbdnhtregfbgtrefgbhtrgefdbghrtegfbhrtfgrhgtergdhyrtgdhytreghtregt
        threthtegdhregthreghrgytrgjyrtegytrghrtgfretyjrtghtyeythtehjrysjywuryjsnrsea5tyjrsuey75urhrteshjrs
    </div>
</div>*@