@model IEnumerable<EpicWareWeb.Models.Tag>
<table>
    @foreach (EpicWareWeb.Models.Tag tag in Model)
    {
        <tr>
            <td style="color:white;font-size:larger">@tag.tag</td>
            <td>@using (Ajax.BeginForm("removeTag", new { id = tag.tagID }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tagsList" })){<button class="noStyle" type="submit"><img src="/LAPR5/Images/Buttons/DeleteRed.png" alt="remover" width="10" height="10" /></button>}</td>
        </tr>
    }
</table>