@model IEnumerable<EpicWareWeb.Models.User>
@{
    ViewBag.Title = "FriendsSugestion";
}

@*MODELO CONTEM TODOS OS USERS(LISTA) QUE SÃO AS SUGESTÕES DE AMIGOS PARA O UTILIZADOR*@

<h2>FriendsSugestion</h2>
