@model IEnumerable<EpicWareWeb.Models.Connection>

@{
  ViewBag.Title = @EpicWareWeb.Views.User.User.introReq;
}

<h2>@EpicWareWeb.Views.User.User.introReq</h2>
<div id="partials">
    @foreach (var item in Model)
    {
        @Html.Partial("_FriendToIntro", item)
    }
</div>