@model IEnumerable<EpicWareWeb.Models.IntroFriendRequest>
@{
    ViewBag.Title = EpicWareWeb.Views.User.User.introReq;
}
<h2>@EpicWareWeb.Views.User.User.introReq</h2>
<div id="partials">
   @foreach (EpicWareWeb.Models.IntroFriendRequest item in Model)
   {
      @Html.Partial("_IntroRequestB", item)
   }
</div>
