@model IEnumerable<EpicWareWeb.Models.Notification>
@{
    ViewBag.Title = EpicWareWeb.Views.User.User.notificacoes;
}

<h2>@EpicWareWeb.Views.User.User.notificacoes</h2>
<table>
    <tr>
        <th>@EpicWareWeb.Views.User.User.mensagem</th>
        <th>@EpicWareWeb.Views.User.User.hora</th>
        <th></th>
    </tr>
    @foreach (EpicWareWeb.Models.Notification item in Model)
    {
        @Html.Partial("_Notification", item)
    }
</table>
