@model IEnumerable<EpicWareWeb.Models.FriendRequest>

@{
    IEnumerable<EpicWareWeb.Models.IntroFriendRequest> Intros = (IEnumerable<EpicWareWeb.Models.IntroFriendRequest>)ViewBag.introsVB;
}

    <title>ListFriendRequest</title>

    @if (Model.Count() > 0 || Intros.Count() > 0)
    {  
    
        if (Model.Count() > 0)
        {
           <h2>Pedidos de amizade pendentes</h2>
           <table>
            @foreach (var item in Model)
            {
                @Html.Partial("_FriendRequest", item)
            }
            </table>
        }
        
        if(Intros.Count() > 0)
        {
            <h2>Pedidos de introduçao pendentes</h2>
            <table>
            @foreach (var item in Intros)
            {
                @Html.Partial("_IntroRequest", item)
            }
            </table>
        }
    }
    else
    {
        <h2>Sem pedidos pendentes</h2>
    }

