@model EpicWareWeb.Models.User

@{
    ViewBag.Title = EpicWareWeb.Views.User.User.tabela_classificativa;
}

<h2>@EpicWareWeb.Views.User.User.tabela_classificativa</h2>


<table class="TabelaClassificativa">
    @foreach (var s in )
    {
        
    }
</table>