@{
    ViewBag.Title = "Home Page";
}
@section featured {

    @*<section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>*@
    
}
<div style="align-content:center">
    <table width="600">
        <tr>
            @using (Html.BeginForm("DownloadGame", "User", FormMethod.Get)) {
            <td width="300">
                <button type="submit" class="btn btn-lg btn-primary" style="width:200px;">Download Game</button>
            </td>
            }
            <td rowspan="3" width="300"><img src="~/Images/EpicWare%20Logos/EpicWare%20Logo.png" /></td>
        </tr>
        <tr>
            <td width="300">
                <button type="button" class="btn btn-lg btn-primary" style="width:200px;">View ScoreBoards</button>
            </td>
        </tr>
        <tr>
            @using (Html.BeginForm("Create","User",FormMethod.Get)) 
            { 
            <td width="300">
                <button type="submit" class="btn btn-lg btn-primary" style="width:200px;">Registar</button>
            </td>
            }
        </tr>
    </table>
    







    @{
    var output = new System.Text.StringBuilder();
    output.Append(@"<div class="" tagcloud"">
        ");
    using (var modelo = new EpicWareWeb.Models.EventsEntities())
        {
        EpicWareWeb.Models.TagCloudCounter tagCloud = modelo.GetTagCloud();
        foreach (EpicWareWeb.Models.TagCloud tag in tagCloud.TagClouds)
        {
        output.AppendFormat(@"<div class="" tag{0}"">",tagCloud.GetRankForTag(tag));
            output.Append(tag.Tag);
            output.Append("</div>");
        }
        }
        output.Append("</div>");
    }
    @Html.Raw(output.ToString());
</div>