@model IEnumerable<EpicWareWeb.Models.User>
@{
    ViewBag.Title = @EpicWareWeb.Views.User.User.resultadosPesquisa;
}

<h2>Search</h2>
@*UTILIZADORES DO RESULTADO DA PESQUISA*@
<table width="500">
    @foreach (EpicWareWeb.Models.User user in Model)
    {
        @Html.Partial("_SearchList", user)
    }
</table>